#content,
#content > *,
#content {
  display: grid;
}

#content {
  padding: 1rem;

  font-size: var(--content-font-size);
  font-weight: var(--content-font-weight);
  color: var(--content-color);
  background-color: var(--content-background);
}
#project,
#project-adder {
  /* transition: 0.5s; */
}
#project-adder {
  position: absolute;
  place-self: center;

  scale: 0;
}
#content.add-project #project {
  transition: scale 0.5s 0;
  scale: 0;
}
#content button[name="add-project"]::before {
  content: "Add project";
}
#content.add-project button[name="add-project"]::before {
  content: "Back to projects";
}
#project {
  transition: scale 0.5s 0.5s;
}
#content.add-project #project-adder {
  transition: 0.5s 0.5s;
  scale: 1;
}
#project-adder {
  transition: scale 0.5s 0;
}
@media (min-width: 600px) {
  #content {
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: auto repeat(2, 1fr);
    column-gap: 2rem;
    grid-template-areas:
      "header header header"
      "plist project project"
      "footer footer footer";
  }
  #project-list {
    grid-area: plist;
  }
  #project {
    grid-area: project;
  }
  #project-adder {
    grid-area: project;
  }
}
/* #content > * {
  position: absolute;

  grid-row: 1;
  grid-column: 1;

  justify-self: center;
} */
