#project {
  /* width: min(90vw, 600px); */
  /* height: min(80vh, 300px); */

  overflow: hidden;

  padding-inline: var(--project-padding);
  gap: var(--project-gap);

  border-radius: var(--project-radius);

  outline: 1px solid black;
  background-color: var(--project-background-supplementary);

  transition: 0.5s;

  /* scale: 0; */
}
#project * {
  background-color: transparent;

  font-weight: 700;
}
#project *:not(summary textarea) {
  color: var(--project-color-3);
}
#project-summary {
  width: 100%;
  height: 5rem;
}
#project-name {
  color: var(--project-color-1);
}

#project-name {
  padding-block: var(--project-padding-block);
  padding-inline: var(--project-padding-inline);
  background-color: var(--project-background-primary);
}

#project-description {
  padding-block: var(--project-padding-block);

  translate: 0 var(--description-translate-block);

  background-color: var(--project-background-secondary);
  text-align: center;
  color: var(--project-color-2);
}
#project .controls {
  top: 2rem;

  right: 1rem;
  translate: 0 -100%;
  gap: 2ch;
  list-style: none;
}

#task-adder {
  /* justify-self: start; */
  margin-block-start: var(--task-adder-margin);
  text-align: center;
}
label {
  display: contents;
}
