#project-list {
  align-items: start;

  height: fit-content;
}
#project-list ul {
  list-style: none;
}
#project-list li {
  display: flex;
}
.project {
  width: 100%;
  position: relative;
  padding: 0.25em;
  isolation: isolate;
  transition: filter 0.5s linear;
}
.project::after {
  content: attr(data-unfinished);

  margin-inline-start: auto;

  color: red;

  animation: alert 1s infinite alternate linear;
}

.project.current {
  filter: hue-rotate(-10deg);

  pointer-events: none;
}

.project::before {
  content: "";
  position: absolute;
  inset: 0;

  transition: scale 0.5s ease;
  scale: 0 1;

  background-color: var(--content-background);
  filter: hue-rotate(10deg) saturate(2);

  transform-origin: left;
  z-index: -1;
}
.project:where(.current, :hover, :focus, :focus-within)::before {
  transition: scale 0.5s ease 0.2s;
  scale: 1 1;
}
/* project:is(:hover, :focus, :focus-within)::before {
  filter: grayscale(0.5);
  filter: drop-shadow(1px 1px 2px white);
} */

@keyframes alert {
  from {
    scale: 0.85;
  }
  to {
    scale: 1;
  }
}
