#project {
  /* width: min(90vw, 600px); */
  /* height: min(80vh, 300px); */
  max-height: 80vh;

  overflow: auto;

  padding-inline: var(--project-padding);
  padding-block: var(--project-padding-block);
  gap: var(--project-gap);

  border-radius: var(--project-radius);

  box-shadow: inset 1px 1px 3px 10px var(--project-background-secondary);

  transition: 0.5s;

  /* scale: 0; */
}
#project,
#project .top-section {
  background-color: var(--project-background);
}
#project .top-section {
  padding: 0.5em;
}
#project * {
  background-color: transparent;

  font-weight: 700;
}
#project *:not(summary textarea) {
  color: var(--project-color-3);
}
#project-summary {
  width: 100%;
  height: 5rem;
}
#project-name {
  color: var(--project-color-1);
}
#project-name {
  padding-block: var(--project-padding-block);
  padding-inline: var(--project-padding-inline);
}

#project-description {
  padding-block: var(--project-padding-block);

  translate: 0 var(--description-translate-block);

  background-color: var(--project-background-secondary);
  text-align: center;
  color: var(--project-color-2);
}
#project .controls {
  margin-inline-start: auto;
  gap: 2ch;
  list-style: none;
}

#project .controls > form {
  display: contents;
}

#task-adder {
  /* justify-self: start; */
  margin-block-start: var(--task-adder-margin);
  width: min(400px, 70vw);
  justify-self: center;
  text-align: center;
}
label {
  display: contents;
}
.controls.button {
  position: relative;
}
button[name="change"]::before {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  /* background-image: url("./settings.svg"); */
}
