#project-adder {
  align-items: start;

  padding: 2rem;

  text-align: center;

  box-shadow: inset 1px 1px 10px 2px black;

  border-radius: 1vmax;
  /* gap: 5rem; */
}

#project-adder fieldset {
  display: contents;
}

#project-adder form * {
  max-width: 70%;
}

#task-adder fieldset {
  gap: 0.25rem;
}
/* #project-adder * {
  width: 100%;
} */
