:root {
  --task-textarea-height: 2ch;
}
.task {
  width: min(400px, 70vw);

  overflow: hidden;

  justify-self: center;
  position: relative;

  isolation: isolate;
}
.task[data-priority="1"] {
  --priority-color: red;
}
.task[data-priority="2"] {
  --priority-color: yellow;
}
.task[data-priority="3"] {
  --priority-color: green;
}
.task[data-priority="4"] {
  --priority-color: blue;
}
.task:not(.editing) :is([name="save"], [name="restore"]) {
  display: none;
}
.task details * {
  width: 100%;
}
.task summary {
  grid-template-columns: auto 1fr;
  gap: 1ch;
  align-items: start;
}
.task :is(input, textarea, button) {
  border: none;
  max-height: fit-content;
}
.task textarea {
  height: var(--task-textarea-height);
}
textarea[name="note"] {
  height: fit-content;
  box-shadow: inset -1px -1px 3px orangered;
}
.task legend {
  outline: none;
}
.task label:first-of-type {
  display: grid;
  align-items: center;
  height: 100%;
}
.task label {
  font-size: var(--task-label-font-size);
}

.task label :is(input, textarea) {
  font-size: 1.5rem;
}

.task:not(.editing) summary::before {
  content: "";
  display: block;
  position: absolute;
  grid-column: 2;
  inset: 0;

  border-radius: 0.25vmax;

  outline: 1px solid var(--priority-color);
  outline-offset: -1px;
  box-shadow: inset 4px 0 0 -1px var(--priority-color), inset 0 0 1px 2px white;
  cursor: pointer;
  /* z-index: -1; */
}

.task details[open] summary::before {
  border: none;
  box-shadow: inset 1px 1px 1px red;
}

.task:not(.editing) summary::before,
.task summary textarea {
  max-width: 400px;
}
.task summary textarea {
  text-align: start;
  text-indent: 2ch;
  resize: none;
  overflow: auto;
  color: white;
}

.task:not([data-completed="true"])::after {
  font-size: 0.6em;
  content: "expires " attr(data-due-date);
  position: absolute;
  place-self: start end;
  padding: 0.1em 0.3em;
}

.task [name="completed-placeholder"] {
  display: grid;
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  appearance: none;
}
.task [name="completed-placeholder"]::after {
  content: "";
  position: absolute;
  inset: 10%;
  place-self: center;
  background-color: white;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
.task [name="completed-placeholder"]::after {
  clip-path: polygon(100% 35%, 100% 60%, 0% 60%, 0% 35%);
}
.task [name="completed-placeholder"]:checked::after {
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}
.task fieldset {
  gap: 0.5em;
}

.task [readonly] {
  filter: opacity(0.7);
  pointer-events: none;
}
